h1 {


text-align: center;
font-family: "Times New Roman", sans-serif;
font-size: 40px;





}


a {

font-size: 24px;
color: black;
font-weight: 800;






}


img.lasagna {


height: 400px;
width: 400px;




}

img.italian {


height: 400px;
width: 400px;


}